body {
    margin: 0;
    /* overflow: hidden; */
    overflow: auto;
    /* background: #e6e7ed; */
    background: #e6e7ed;

    /* display: flex;
    justify-content: center;
    align-items: center;
    align-content: center; */
  }
  div#smoke {
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 40vh;
    background-image: linear-gradient(
      rgba(211, 223, 221, 0) 0%,
      rgba(211, 223, 221, 0.7) 65%
    );
    pointer-events: none;
  }
  
  #main-page-div {
    display:flex;
    flex-direction: column;
    position:absolute;
    left:10vw;
    top:14vh;
    width:20vw;
    color:#545473fd;
    z-index: 10;
    pointer-events: none;
  }

  #main-page-div h1 {
    font-size: 5vw;
    margin:0;
    padding:0;
    line-height: 100%;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
  }

  #main-page-div h1 span {
    font-weight: 700;
    color:#22223b;

  }
  
  #main-page-div h2 {
    font-family: 'Lato';
    font-size: 3vw;

    font-weight:900;
    letter-spacing: 1.5vw;
    margin:5vh 0 0 0;
  }

  #main-page-div h3 {
    font-family: 'Oswald';
    font-weight:400;
    letter-spacing: 0.25vw;
    margin:2.5vh 0 0 0;
  }

  #dds-info {
    font-size:1vw;
    margin-top:3vh;
    width:75%;
    text-align: left;
    text-align-last:left;
    font-family: 'Roboto';
    line-height: 120%;
  }

  #last-page {
    /* change this height for page height */
    top:1000vh;
    height:85vh;
    position: absolute;

    padding:14vh 0 0 10vw;
    margin-top:100px 0 0 0;
    width:20vw;
    z-index: 10;

    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 5vw;
  }

  #ixd-div {
    /* change this height for page height */
    top:230vh;
    height:85vh;
    position: absolute;

    padding:14vh 0 0 10vw;
    margin-top:100px 0 0 0;
    width:20vw;
    z-index: 10;

    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 4vw;
  }

  #id-div {
    /* change this height for page height */
    top:340vh;
    height:85vh;
    position: absolute;

    padding:14vh 0 0 10vw;
    margin-top:100px 0 0 0;
    width:20vw;
    z-index: 10;

    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 4vw;
  }

  /* loader */

  .loader {
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    border: 10px solid orange;
    border-top-color: #002147;
    box-sizing: border-box;
    background: transparent;
    animation: loading 1s linear infinite;

    position:fixed;
    top:40vh;
    left:60vw;
    z-index: 10;
  }
  
  @keyframes loading {
    0% {
      transform: rotate(0deg);
    }
    0% {
      transform: rotate(360deg);
    }
  }

  /* #loading-div {
    /* change this height for page height */
    /* top:50vh;
    height:100px;
    position: absolute;

    padding:0;
    width:20vw;
    z-index: 100;

    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 10vw;
    color: #22223b44;
  } */


/* #progress-element {
  width:0;
  height:20px;
  background-color: #ba1c1c;
  position:absolute;
  top:50vh;
  left:50vw;
  z-index: 100;
} */


  /* scroll arrow */

  .arrow-container {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    /* pointer-events:none; */
    z-index:100;
  }
  
  .arrow {
    width: 45px;
    height: 45px;
  /* 	border: 2px solid #fff; */
  /* 	border-radius: 50%; */
    position: fixed;
    bottom: 30px;
    margin: auto;
    transition: ease-in;
    animation: down 1.5s infinite;
    -webkit-animation: bounce 1.5s infinite;
    z-index:100;

  }
  .arrow::before {
    content: "";
    position: absolute;
    top: 11px;
    left: 13px;
    width: 12px;
    height: 12px;
    border-left: 2px solid #545473fd;
    border-bottom: 2px solid #545473fd;
    transform: rotate(-45deg);
  }
  
  @keyframes bounce {
    0% {
      transform: translate(0);
    }
    20% {
      transform: translateY(15px);
    }
    40% {
      transform: translate(0);
    }
  }
  
  @-webkit-keyframes bounce {
    0% {
      transform: translate(0);
    }
    20% {
      transform: translateY(15px);
    }
    40% {
      transform: translate(0);
    }
  }
  
  .fade-in {
    opacity: 1;
    transition: 1s all ease-in;
  }
  
  .fade-out {
    opacity: 0;
    transition: 1s all ease-out;
  }
  
