body {
    margin: 0;
    /* overflow: hidden; */
    overflow: auto;
    /* background: #e6e7ed; */
    background: #e6e7ed;

    /* display: flex;
    justify-content: center;
    align-items: center;
    align-content: center; */
  }
  div#smoke {
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 40vh;
    background-image: linear-gradient(
      rgba(211, 223, 221, 0) 0%,
      rgba(211, 223, 221, 0.7) 65%
    );
    pointer-events: none;
  }

    
  
  /* image logo */

    #heading-and-logo {
      display:flex;
      flex-direction: column;
    }
  
    #logo-image-div img {
      width:6vw;
      padding:0.2vw 0 0 0;
      margin:0 2vw 4vh 0;
      opacity: 1;
    }


  
  #main-page-div {
    display:flex;
    flex-direction: column;
    position:absolute;
    left:9vw;
    top:14vh;
    width:30vw;
    color:#545473fd;
    z-index: 10;
    pointer-events: none;
  }

  #main-page-div h1 {
    font-size: 4.6vw;
    margin:0;
    padding:0;
    line-height: 100%;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
  }

  #main-page-div h1 span {
    font-weight: 700;
    color:#22223b;
  }

  #main-page-div h1 #khand {
    font-weight: 500;
    font-size: 5vw;
    font-family: 'Khand', sans-serif;
    color:#545473fd;

    line-height:10%;
  }


  
  #main-page-div h2 {
    font-family: 'Lato';
    font-size: 3vw;

    font-weight:900;
    letter-spacing: 1.5vw;
    margin:5vh 0 0 0;
  }

  #main-page-div h3 {
    font-family: 'Oswald';
    font-weight:400;
    letter-spacing: 0.25vw;
    margin:4vh 0 0 0;
    font-size:1.3vw;
  }

  #dds-info {
    font-size:1vw;
    margin-top:3vh;
    width:75%;
    text-align: left;
    text-align-last:left;
    font-family: 'Roboto';
    line-height: 120%;
  }

  #last-page {
    /* change this height for page height */
    top:1000vh;
    height:85vh;
    position: absolute;

    padding:14vh 0 0 10vw;
    margin-top:100px 0 0 0;
    width:20vw;
    z-index: 10;

    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 3.5vw;
  }

  a {
    color:#0050ab;
    text-decoration: none;
    z-index: 100;
  }

/* -------------------department divs-------------------- */



  .department-divs {
   
    top : 14vh;
    left : 10vw;
    /* height:100vh; */
    position: absolute;

    /* padding:14vh 0 0 10vw; */
    /* margin-top:100px 0 0 0; */
    width:18vw;
    z-index: 100;

    user-select: none;

  }

  .department-divs h1 {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 3.2vw;

    pointer-events: none;

    line-height: 110%;
    color:#22223b;

  }

  .department-divs h2 {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 1.05vw;

    line-height: 130%;

    color:#545473fd;

    pointer-events: none;
  }

  .department-divs h3 {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 1vw;

    line-height: 130%;

    margin-top:2em;
  }


  /* --------------------------------individual departments----------------------------- */

#animation-div, #communication-div, #industrial-div, #interaction-div, #mobility-div, #bdes-div {
  opacity:0;
  transition:opacity 0.3s;
}


/* loader */

  .loader {
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    border: 10px solid orange;
    border-top-color: #002147;
    box-sizing: border-box;
    background: transparent;
    animation: loading 1s linear infinite;

    position:fixed;
    top:40vh;
    left:60vw;
    z-index: 10;
  }
  
  @keyframes loading {
    0% {
      transform: rotate(0deg);
    }
    0% {
      transform: rotate(360deg);
    }
  }

  /* scroll arrow */

  .arrow-container {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    /* pointer-events:none; */
    z-index:100;
  }
  
  .arrow {
    width: 45px;
    height: 45px;
  /* 	border: 2px solid #fff; */
  /* 	border-radius: 50%; */
    position: fixed;
    bottom: 30px;
    margin: auto;
    transition: ease-in;
    animation: down 1.5s infinite;
    -webkit-animation: bounce 1.5s infinite;
    z-index:100;

  }
  .arrow::before {
    content: "";
    position: absolute;
    top: 11px;
    left: 13px;
    width: 12px;
    height: 12px;
    border-left: 2px solid #545473fd;
    border-bottom: 2px solid #545473fd;
    transform: rotate(-45deg);
  }
  
  @keyframes bounce {
    0% {
      transform: translate(0);
    }
    20% {
      transform: translateY(15px);
    }
    40% {
      transform: translate(0);
    }
  }
  
  @-webkit-keyframes bounce {
    0% {
      transform: translate(0);
    }
    20% {
      transform: translateY(15px);
    }
    40% {
      transform: translate(0);
    }
  }
  
  .fade-in {
    opacity: 1;
    transition: 1s all ease-in;
  }
  
  .fade-out {
    opacity: 0;
    transition: 1s all ease-out;
  }






  /* for tablets */

  @media(max-width:1185px) {
    .department-divs {
      width:16.5vw;
      left:7.5vw;
    }

    .department-divs h2 {
      font-size: 1.2vw;
    }
  
    .department-divs h3 {
      font-size: 1vw;
    }

    #main-page-div {
      left:14vw;
      top:14vh;
      width:25vw;
    }

    #main-page-div h1 {
      font-size: 6vw;
    }

    #main-page-div h1 #khand {
      font-size: 6.6vw;
    }

    #main-page-div h3 {
      font-size: 1.7vw;
    }

    #logo-image-div img {
      width:10vw;
      padding:0.2vw 0 0 0;
      margin:0 2vw 2vh 0;

    }
  }


/* for phone */

  @media(max-width : 420px) {
    .department-divs {
      width:50vw;
      left:12vw;
    }
    .department-divs h1 {
 
      font-size: 8vw;  
    }
  
    .department-divs h2 {
      font-size: 3vw;

    }
  
    .department-divs h3 {
      font-size: 2.8vw;

    }




    #main-page-div {
      left:14vw;
      top:7vh;
      width:90vw;
    }
  
    #main-page-div h1 {
      font-size: 10vw;
    }

    #main-page-div h1 #khand {
      font-size: 11vw;
    }
  
    #main-page-div h3 {
      font-size: 5vw;
      margin-top:2vh;
    }



    #last-page {

      height:90vh;
 
      padding:14vh 0 0 14vw;
      margin-top:100px 0 0 0;
      width:20vw;
 
      font-size: 8vw;
    }




    .loader {
      left:45vw;
      top:55vh;
    }


    .arrow-container {
      width: 100%;
    }



    /* image logo */

    #heading-and-logo {
      flex-direction: column;
    }
  
    #logo-image-div img {
      width:10vw;
      padding:0.2vw 0 0 0;
      margin:0 2vw 2vh 0;
      opacity: 1;
    }
  }